<?prg
#include "./lib/tweb/tweb.ch"

LOCAL o, oDlg, hCredentials

//	Auth system...

IF ! Authorization()
	RETURN NIL
ENDIF

//	-------------------------

hCredentials := USession( 'credentials' )

DEFINE DIALOG oDlg

	DEFINE FORM o ID 'dlg_prueba' API 'api_main' OF oDlg
	o:lDessign 	:= .T.

	INIT FORM o

		DIV o STYLE 'box-shadow: 5px 2px 8px rgba(0,0,0,0.35); padding: 10px; border-radius: 8px;'

			HTML o
				<div class="text-center mt-4"><h1>Bienvenido al sistema de gestión de cilindros</h1></div>
			ENDTEXT
		
		ENDDIV o

	ENDFORM o

INIT DIALOG oDlg RETURN
?>